doctype
html(lang='en')
    head
        title #{title} - My Site
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='bower_components/angular/angular.js')
        script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
        script(src='main.js')
    body(ng-app='myApp')
        div.box(ng-controller='HomeCtrl')
          header
            embed(src="logo.svg")  
          .container
              .main-content
                h1 Chat Window
                ul#messages
                  li(ng-repeat='item in messages | orderBy:"-1": true') {{item.message}} <span id='old'>old message</span>
          form(action='')
            p Message: {{lmessage}}
            input#m(autocomplete='off' ng-model="lmessage")
            button(ng-click='scrollJump()') Send
        footer
            p Running on node with Express, Jade, Stylus, Angular and Socket.io
        script(src='/socket.io/socket.io.js')
        script(src='bower_components/jquery/dist/jquery.js')
        script
          |var socket = io();
          |$('form').submit(function () {
          |    socket.emit('chat message', $('#m').val());
          |    $('#m').val('');
          |    return false;
          |});
          |socket.on('chat message', function (msg) {
          |    $('#messages').append($('<li>').html(msg));
          |});
        script(src='main.js')
