doctype
html(lang='en')
	head
		title #{title} - My Site
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='bower_components/angular/angular.js')
		script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
		script(src='main.js')
	body(ng-app='myApp')
		div.box(ng-controller='LoginCtrl')
			header
				embed(src="logo.svg")  
			.container
				.main-content
					.login_div
						h1 Login 
						form(action="")
							input(type="text" ng-model="uname")
							input(type="password" ng-model="pword")
							button Submit
		script(src='main.js')
