doctype
html(lang='en')
	head
		title #{title} 
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='bower_components/angular/angular.js')
		script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
		script(src='main.js')
	body(ng-app='myApp')
		div.box(ng-controller='LoginCtrl')
			header
				embed(src="logo.svg")  
			.container
				.main-content
					.login_div
						div(ng-model="tabs.index")
							div(ng-repeat="tab in tabs" data-title="{{tab}}")
								p Contents of chose page:
						div(ng-show="tabs.active() == 'Login'")
							|Login content
						div(ng-show="tabs.active() == 'Register'")
							|Register content
							//- #viewTwo
							//- 	h1 register
							//- 	form(action="")
							//- 		label Username:
							//- 			input(type="text" name="uname")
							//- 		br
							//- 		label Password:
							//- 			input(type="password" name="pword")
							//- 		br
							//- 		button Submit
		script(src='main.js')
