doctype
html(lang='en')
	head
		title #{title} - My Site
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='bower_components/angular/angular.js')
		script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
		script(src='main.js')
	body(ng-app='myApp')
		div.box(ng-controller='HomeCtrl')
			header
				embed(src="logo.svg")
			.container
				.main-content
					h1 Chat Window
					ul#messages(ng-scroll-bottom="messages", ng-class="{shake: shake}")
						li(ng-repeat='item in messages') <span id='o_message'>{{item.message}}</span>
			form#chatform(ng-submit="onSubmit()")
				p Message: {{lmessage}}
				input#m(autocomplete='off' ng-model="lmessage")
				button(type="submit") Send
		footer
			p Running on node with Express, Jade, Stylus, Angular and Socket.io
		script(src='/socket.io/socket.io.js')
		script(src='main.js')
